{% load static %}

<div class="col-3">
<form action="{% url 'carrito:agregar' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="producto_id" value="{{ producto.id }}">
</div>
    <div class="">
        <button type="button" class="btb btn-info d-inline" id="eliminar">-</button>
        <input type="number" value="1" class="form-control form-control-lg col-sm-2 d-inline" id="cantidad" name="cantidad"  min="1" max="{{producto.cantidad}}" readonly>
        <button type="button" class="btb btn-info" id="agregar">+</button>
    </div>

    <div class="mt-2">
    <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    <div>
</form>
</div>


<script>
    const agregar = document.getElementById('agregar')
    const eliminar = document.getElementById('eliminar')
    const cantidad = document.getElementById('cantidad')

    agregar.addEventListener('click', function(){
        if (parseInt(cantidad.value) < parseInt(cantidad.getAttribute('max'))) {
            cantidad.value = parseInt(cantidad.value) + 1
        }
    })

    eliminar.addEventListener('click', function(){
        value = parseInt(cantidad.value)

        if(value != 1){
            value = value -1
        }
        cantidad.value = value
    })
</script>

