{% load static %}
<div class="form-row  mt-4">
<form action="{% url 'carrito:agregar' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="producto_id" value="{{ producto.id }}">
</div>
<div class="form-row  mt-4">
    <div class="form-group col-md flex-grow-0">
        <div class="input-group mb-3 input-spinner">
          <div class="input-group-prepend">
            <button class="btn btn-light" type="button" id="agregar"> + </button>
          </div>
          {% if producto.cantidad == 0 %}
          <input type="text" class="form-control" value="0" id="cantidad" name="cantidad"  min="0" max="0" readonly>
          {% else %}
          <input type="text" class="form-control" value="1" id="cantidad" name="cantidad"  min="1" max="{{producto.cantidad}}" readonly>
          {% endif %}

          <div class="input-group-append">
            {% if producto.cantidad == 0 %}
            <button class="btn btn-light" type="button" id="eliminar" disabled> - </button>
            {% else %}
            <button class="btn btn-light" type="button" id="eliminar" > - </button>
            {% endif %}

          </div>
        </div>
    </div> <!-- col.// -->
    <div class="form-group col-md">
        {% if producto.cantidad == 0 %}
        <H4>PRODUCTO FUERA DE STOCK</H4>
        
        <a href="#" class="btn btn-light">
            <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span> 
                </a>
        {% else %}
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
        {% endif %}
    </div> <!-- col.// -->
    </form>
</div> <!-- row.// -->



<script>
    const agregar = document.getElementById('agregar')
    const eliminar = document.getElementById('eliminar')
    const cantidad = document.getElementById('cantidad')

    agregar.addEventListener('click', function(){
        if (parseInt(cantidad.value) < parseInt(cantidad.getAttribute('max'))) {
            cantidad.value = parseInt(cantidad.value) + 1
        }
    })

    eliminar.addEventListener('click', function(){
        value = parseInt(cantidad.value)

        if(value != 1){
            value = value -1
        }
        cantidad.value = value
    })
</script>

