{% extends 'base.html' %}
{% load static %}
{% load producto_extras %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                          <th scope="col" class="text-right" width="200"> </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for cp in carrito.products_related.all %}
                            {% with producto=cp.producto %}
                        <tr>
                            <td {{ forloop.counter }}>
                                <figure class="itemside">
                                    <div class="aside">
                                        {% if producto.Foto %}<img src="{{ producto.Foto.url }}" class="img-sm"></div>
                                        {% endif %}           
                                    </div>
                                    <figcaption class="info">
                                        <a href="{% url 'producto' producto.slug %}" class="title text-dark">{{producto.NombreProducto }}</a>
                                        <p class="text-muted small">Marca: {{producto.Marca}}</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                {{ cp.cantidad }}
                            </td>
                            <td> 
                                <div class="price-wrap">
                                    <var class="price">${{ producto.precio }}</var>
                                </div>           
                            </td>
                            
                            <td class="text-right"> 
                                {% include 'carrito/eliminar.html' %}

                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        </tbody>
                        </table>
                        
                    <div class="card-body border-top">
                        <a href="{% url 'orden:orden' %}" class="btn btn-primary btn-block"> Proceder al pago<i
                                class="fa fa-chevron-right"></i> </a>
                        <a href="{% url 'tienda' %}" class="btn btn-light btn-block"> <i class="fa fa-chevron-left"></i>
                            Continuar comprando</a>
                    </div>
                </div> <!-- card.// -->


            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}