<div class="card">
    <h5 class=" card-header"></h5>
    <div class="card-body">
        <h5 class="card-tittle" >{{direcciones.direccion}}</h5>
        <div class="card-tittle">
            {{direcciones.localidad}}
        </div>
        <div class="card-tittle">
            {{direcciones.barrio}}
        </div>
    </div>
    <div class="mt-2">
    <a href="{% url 'direcciones:update' direcciones.pk%}" class="btn btn-info mt-2">Editar</a>
    {% if direcciones.default%}
    <div class="text-info">
        Direccion Principal
    </div>
    {% else %}
    <a href="#" class="btn btn-danger mt-2">Favorito</a>
    {% endif%}
    </div>
    <br>
</div>
<br>    