{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">
<div class="row">
<main class="col-md-8">
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Tus productos</h4>
	<div class="row">
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="{% static 'img/images/items/JKASJKA.png' %}" class="border img-sm"></div>
				<figcaption class="info">
					<p>producto</p>
					<span class="text-muted"> precio</span>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
</article>
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Tus datos</h4>
	<form action="">
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Tú nombre</label>
				<input type="text" placeholder="Digita tu nombre completo" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Celular</label>
				<input type="text" value="+57" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Correo electronico</label>
				<input type="email" placeholder="ejemplo@gmail.com" class="form-control">
			</div>
		</div> 
	</form>
</div>
</article>
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Información de entrega</h4>
	<form action="">
			

		<div class="row">
				<div class="form-group col-sm-6">
					<label>Ciudad</label>
					<select name="" class="form-control">
						<option value="">Bogotá</option>
					</select>
				</div>
				<div class="form-group col-sm-8">
					<label>Direccion</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Barrio</label>
					<input type="text" placeholder="" class="form-control">
				</div>
		</div> 
	</form>
</div>
</article>
<article class="accordion" id="accordion_pay">
	<div class="card">
		<header class="card-header">
			<img src="{% static 'img/images/misc/payment-paypal.png'%}" class="float-right" height="24"> 
			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
				<input class="form-check-input" name="payment-option" checked type="radio" value="option2">
				<h6 class="form-check-label"> 
					Paypal 
				</h6>
			</label>
		</header>
		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="text-center text-muted">Usa tu cuenta de PayPal</p>
			<p class="text-center">
				<a href="#"><img src="{% static 'img/images/misc/btn-paypal.png'%}" height="32"></a>
				<br><br>
			</p>
		</div>
		</div>
	</div>
	<div class="card">
	<header class="card-header">
		<img src="{% static 'img/images/misc/payment-card.png'%}" class="float-right" height="24">  
		<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
			<input class="form-check-input" name="payment-option" type="radio" value="option2">
			<h6 class="form-check-label"> Tarjeta de credito  </h6>
		</label>
	</header>
	<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="alert alert-success">Sin habilitar</p>
			<form class="form-inline">
				<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
				<input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
				<input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
				<button class="btn btn btn-success">:(</button>
			</form>
		</div>
	</div>
	</div>
</article> 
		</main>
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Precio total:</dt>
			  <dd class="text-right">$6.997</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Subtotal:</dt>
			  <dd class="text-right"> $1.000</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>$51.297</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static 'img/images/misc/payment-paypal.png'%}" height="26">
			</p>
			<a href="./ordenCompleta.html" class="btn btn-primary btn-block"> Genera tu orden </a>
		</div>
		</div>
		</aside>
	</div>
</div>
</section>

{% endblock %}

