{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/login/main.css '%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                      <div class="text-center">
                        <h4 class="mt-1 mb-5 pb-1"> Distribuidora Occidental</h4>
                      </div>
      
                      <form method="post">
                        {% csrf_token %}
                        <p>Por favor inicie sesion</p>
    
                        {% if messages %}{% for message in messages %} 
                        <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">Usuario</label>
                          <input  id="form2Example11" class="form-control"
                            placeholder="" name="username" />
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example22">Contraseña</label>
                          <input type="password" id="form2Example22" class="form-control" name="password" />
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg" type="submit">Ingresar</button>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">¿Eres nuevo?</p>
                          <a type="button" class="btn btn-outline-danger"  href="{% url 'registro' %}">Crear cuenta</a>
                        </div>

                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">¿Deseas regresar a la pagina de inicio?</p>
                          <a type="button" class="btn btn-outline-danger"  href="{% url 'index' %}">Regresar</a>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">¡Bienvenido!</h4>
                      <p class="small mb-0">Son las:  <div id="clock"></div></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
        function updateClock() {
          var now = new Date();
          var clock = document.getElementById('clock');
          clock.innerHTML = now.toLocaleTimeString();
        }
        setInterval(updateClock, 1000);
        </script>
</body>

{% endblock%}
