{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section-pagetop bg-gray">
	<div class="container">
		<h2 class="title-page">Mis PQRS </h2>
	</div>
	</section>
	
	<section class="section-content padding-y">
	<div class="container">
	
	<div class="row">
		<aside class="col-md-3">
			<nav class="list-group">
				<a class="list-group-item" href="#"> Account overview  </a>
				<a class="list-group-item" href="#"> Direcciones  </a>
				<a class="list-group-item" href="#"> Mis compras </a>
				<a class="list-group-item active" href="{% url 'pqrs'%}">Mis PQRS</a>
				<a class="list-group-item" href="#"> Configuracion </a>
				<a class="list-group-item" href="{% url 'logout'%}">Cerrar sesion</a>
			</nav>
		</aside>
		<main class="col-md-9">
	
			<h4>Hola :D</h4>
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Número de PQR</th>
					<th scope="col">Título</th>
					<th scope="col">Descripción</th>
					<th scope="col">Fecha de Creación</th>
				  </tr>
				</thead>
				<tbody>
					{% for pqr in pqrs %}
				  <tr>
					<th scope="row">{{pqr.id}}</th>
					<td>{{pqr.titulo}}</td>
					<td>{{pqr.descripcion}}</td>
					<td>{{pqr.creada_en}}</td>
				  </tr>
				  {% endfor %}
				</tbody>
			  </table>
			  
		
		</main>
	</div>
	</div>
</section>
{% endblock %}