{% extends 'base.html' %}

{% load static %}

{% block content %}
{% url 'direcciones:direcciones' as direcciones %}

<section class="section-pagetop bg-gray">
	<div class="container">
		<h2 class="title-page">Mi cuenta {{ user.first_name}} {{ user.primer_apellido}}</h2>
	</div>
	</section>
	
	<section class="section-content padding-y">
	<div class="container">
	
	<div class="row">
		<aside class="col-md-3">
			{% include 'incluidos/dash.html' %}
		</aside>
		<main class="col-md-9">
	
		<div class="card">
		  <div class="card-body">
			<form class="row" method="POST">
				<div class="form-group col-md-5">
					
						{% csrf_token %}
						
					   <div class="col">
						<label>Primer Nombre</label>
						<input name='first_name' id="first_name" type="text" class="form-control" value="{{ user.first_name}}"readonly>										 
					   </div> 
					   <input type="hidden" name="id" value="{{user.pk}}">
	
					   <div class="col">
						<label>Primer  Apellido</label>
						<input  type="text" class="form-control" value="{{ user.primer_apellido}}"readonly>
					   </div>
					   <div class="col form-group">
						   <label>Correo</label>
							 <input type="email" class="form-control" value="{{ user.email}}"readonly>
					   </div>
						<div class="form-group col-md-6">
							<label>Tipo de Documento</label>
							<input type="tipoDoc" class="form-control" value="{{ user.tipoDoc}}"readonly>

					   
				   </div>
				 <BR></BR>

				 <button>  <a href="{% url 'edit_user'%}">Actualizar</a> </button>
	
				 

				</div>
				<div class="form-group col-md-5">
					<div class="col">
						<label>Segundo Nombre</label>
						<input type="text" class="form-control" value="{{ user.last_name}}" readonly>
					   </div>
					<div class="col">
						<label>Segundo  Apellido</label>
						<input type="text" class="form-control" value="{{ user.segundo_apellido}}"readonly>
					   </div>
					 <div class="col form-group">
						   <label>Telefono</label>
							 <input type="text" class="form-control" value="{{ user.telefono}}"readonly>
					   </div>
					<div class="col form-group">
						   <label>Contraseña</label>
							 <input type="password" class="form-control" value="{{ user.password}}"readonly>
					   </div>
				</div>
			 </form>
		  </div>
		</div>
		</main>
	</div>
	</div>
</section>
{% endblock %}