{% load static %}
{% load producto_extras%}

<div class="col-3">

    {% if producto.Foto %}
        <img src="{{ producto.Foto.url }}" alt="Imagen del producto" width="200" height="200">
    {% endif %}
</div>

<div class="col">

    <div class="h1">{{ producto.NombreProducto }}</div>
    <div class="h5 font-weight-bold">
        Precio: <span class="text-danger">{{ producto.precio | formato_precio }}</span>
    </div>
    <div class="">
        <p>{{ producto.Descripcion }}</p>
    </div>

    <div>
        {% include 'carrito/agregar.html' %}
    </div>
</div>