

<div class="card">
    <div card="card-body">
        <div class="font-weight-bold">
            Resumen del pedido
        </div>
        <div class="">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td>{{ carrito.total }}</td>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td>{{ orden.precio_envio}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <hr>
            <div class="font-weight-bold text-danger">
                Total (Impuestos incluidos)
                <div class="d-inline-block">
                        {{ orden.total }}
                </div>
            </div>
        </div>
        <div class="mt-2">
            <a href="{{ next_url }}" class="btn btn-warning">Confirmar pedido</a>
        </div>
    </div>   
</div>