

<div class="card">
    <div class="card-body">
            <dl class="dlist-align">
              <dt>Productos :</dt>
              <dd class="text-right">$USD: {{ carrito.subtotal }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Envio:</dt>
              <dd class="text-right">$USD: {{ orden.precio_envio}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total (Impuestos incluidos):</dt>
              <dd class="text-right  h5"><strong>$: {{ orden.total }}</strong></dd>
            </dl>
            <hr>
            
    </div> <!-- card-body.// -->
</div>  <!-- card .// -->
        <div class="mt-2">
            <a href="{{ next_url }}" class="btn btn-warning">Confirmar pedido</a>
        </div>
        <br>
    </div>   
</div>
<br>